
input {
    text-align: center;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
    top: 10px;
  }
button {
  background-color: green;
  color: white;
}