

.listItem {
    text-align: center;
    box-shadow: 2px -6px 10px white;
    background-color: white;
    width:fit-content;
    border-radius: 5%;
}

.listItem button {
    position:;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.listItem img {
    
    border-radius: 5px;

}

.listItem h2 {
    justify-content: center;
    color: black;
    size: 0.2cm;
    font-size: 0.4cm;
}

.listItem p {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    size: 0.2cm;
    font-size: 0.4cm;
}

